/* .booking {
    margin-top: 50px;
  }
  
  .card-header {
    background-color: #343a40;
    color: white;
  }
  
  .spinner-border {
    margin-top: 20px;
  }
  
  table {
    margin-top: 20px;
  }
  
  .no-appointments {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: gray;
  } */
  